name: pipeline

on: [push, pull_request]

jobs:
  pipeline:
    name: pipeline
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ["latest", "lts/*"]

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4.0.0
        with:
          version: 9.x.x

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: "pnpm"
          registry-url: "https://registry.npmjs.org"

      - name: Install and build
        run: pnpm install --frozen-lockfile

      - name: Lint
        run: pnpm check

      - name: Build
        run: pnpm build

      - name: Test
        run: |
          cd test && pnpm install --frozen-lockfile
          cd .. && pnpm test

      - name: Publish
        if: ${{ startsWith(github.ref, 'refs/tags/v') && matrix.node == 'latest' }}
        run: pnpm publish --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
